menuconfig DRIVERS_IMU_HILLCREST_LABS_BNO085
    bool "bno085"
    default n
    ---help---
        Enable support for BNO085

if DRIVERS_IMU_HILLCREST_LABS_BNO085

config BNO085_INT_PIN
    int "31"
    ---help---
        Use Pin 31 as data ready (INT) pin

config BNO085_RESET_PIN
    int "29"
    ---help---
        Use Pin 29 as reset pin

config BNO085_WAKEUP_PIN
    int "7"
    ---help---
        Use Pin 7 as wakeup pin

endif
