#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

param select parameters.bson
param import

# system_power not implemented
param set CBRK_SUPPLY_CHK 894281

param set-default BAT1_V_DIV 7.7

# broadcast to LAN
# always keep current config
param set SYS_AUTOCONFIG 0
# useless but required for parameter completeness
param set MAV_TYPE 2
param set SYS_AUTOSTART 2100

param set PCA9685_FUNC12 101
param set PCA9685_FUNC9  102
param set PCA9685_FUNC10 103
param set PCA9685_FUNC11 104

dataman start -r

load_mon start

battery_status start

# internal IMU
bno085 start -s -R 9 -f 2000 # Rotation-Table in /src/lib/conversion/rotation.h - 9 is ROTATION_ROLL_180_YAW_45

#baro
dps310 start -I

# ADC
ads1115 start -I

# PWM
pca9685_pwm_out start -b 0
control_allocator start

rc_input start -d /dev/ttyAMA0

rc_update start
sensors start
commander start
navigator start
ekf2 start
land_detector start multicopter
flight_mode_manager start
fw_att_control start
fw_mode_manager start
fw_lat_lon_control start

# Telem
mavlink start -u 14556 -r 1000000 -x

#logger start -t -b 200

mavlink boot_complete
