#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

param select parameters.bson
param import

# system_power not implemented
param set CBRK_SUPPLY_CHK 894281

param set-default BAT1_V_DIV 7.7

# broadcast to LAN
# always keep current config
param set SYS_AUTOCONFIG 0
# useless but required for parameter completeness
param set MAV_TYPE 2
param set SYS_AUTOSTART 4001

#PWM PARAMS, M1, M2, M3, M4
param set PCA9685_FUNC9  101
param set PCA9685_FUNC11 102
param set PCA9685_FUNC12 103
param set PCA9685_FUNC10 104

param set PCA9685_DIS9  1000 
param set PCA9685_DIS11 1000
param set PCA9685_DIS12 1000
param set PCA9685_DIS10 1000

param set PCA9685_MAX9  1150
param set PCA9685_MAX11 1150
param set PCA9685_MAX12 1150
param set PCA9685_MAX10 1150

param set PCA9685_MIN9  1040
param set PCA9685_MIN11 1040
param set PCA9685_MIN12 1040
param set PCA9685_MIN10 1040


dataman start -r

load_mon start

battery_status start

# internal IMU
bno085 start -s -R 9 -f 2000 # Rotation-Table in /src/lib/conversion/rotation.h - 9 is ROTATION_ROLL_180_YAW_45
sleep 15

#baro
dps310 start -I

# ADC
ads1115 start -I

# PWM
pca9685_pwm_out start -b 0
control_allocator start

#rc_input start -d /dev/input/js0

rc_update start
manual_control start
sensors start
commander start
navigator start
ekf2 start
sleep 2
ekf2 stop
ekf2 start
land_detector start multicopter
mc_hover_thrust_estimator start
flight_mode_manager start
mc_pos_control start
mc_att_control start
mc_rate_control start

# Telemetry UDP
mavlink start -u 14556 -r 40000 -p

logger start -f -t 

mavlink boot_complete
