#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

param select parameters.bson
param import


# ========== DEFAULT PARAMS ========== #

# -- system -- #
param set SYS_AUTOCONFIG 0   # always keep current config
param set MAV_TYPE 2         # quadrocopter
param set SYS_AUTOSTART 4001 # quadrocopter

# -- circuit breakers -- #
param set CBRK_SUPPLY_CHK 894281 # no power supply failsafe

# -- power reading -- #
param set BAT1_V_DIV 6.63218689 # from calibration with multimeter

# -- disable gps -- #
param set ATT_MAG_DECL_A 0
param set COM_ARM_WO_GPS 2
param set SENS_GPS_MASK 0
param set SYS_HAS_GPS 0

# -- rc -- #
param set COM_RC_IN_MODE 1   # joystick only (via QGroundControl)
param set MAN_ARM_GESTURE 0  # arming with stick gesture disabled
param set COM_DISARM_LAND -1 # no auto disarm when landing


# -- pwm -- #
# (order top to bottom each: M1 - M2 - M3 - M4) #
param set PCA9685_FUNC9  101
param set PCA9685_FUNC11 102
param set PCA9685_FUNC12 103
param set PCA9685_FUNC10 104

param set PCA9685_DIS9  1000 
param set PCA9685_DIS11 1000
param set PCA9685_DIS12 1000
param set PCA9685_DIS10 1000

param set PCA9685_MAX9  1600
param set PCA9685_MAX11 1600
param set PCA9685_MAX12 1600
param set PCA9685_MAX10 1600

param set PCA9685_MIN9  1040
param set PCA9685_MIN11 1040
param set PCA9685_MIN12 1040
param set PCA9685_MIN10 1040


# -- motors -- #
param set CA_ROTOR_COUNT 4

param set CA_ROTOR0_KM 0.05 # positive for ccw
param set CA_ROTOR0_PX 0.07
param set CA_ROTOR0_PY 0.07

param set CA_ROTOR1_KM 0.05
param set CA_ROTOR1_PX -0.07
param set CA_ROTOR1_PY -0.07

param set CA_ROTOR2_KM -0.05 # negative for cw
param set CA_ROTOR2_PX 0.07
param set CA_ROTOR2_PY -0.07

param set CA_ROTOR3_KM -0.05
param set CA_ROTOR3_PX -0.07
param set CA_ROTOR3_PY 0.07


# -- logger -- #
param set SDLOG_MODE 2        # from boot to shutdown (0 is armed until disarm)
param set SDLOG_PROFILE 2047  # log everything
param set SDLOG_UTC_OFFSET 60 # germany is UTC +1h

# -- failsaves -- #
param set NAV_RCL_ACT 6 # RC loss causes disarm
param set FD_ACT_EN 0   # no actuator failure check, because ESC is PWM
param set FD_ESCS_EN 0  # no ESC failure check, because ESC is PWM


# ========== start modules ========== #

dataman start -r

load_mon start

battery_status start

# imu
bno085 start -s -R 9 -f 2000 # Rotation-Table in /src/lib/conversion/rotation.h - 9 is ROTATION_ROLL_180_YAW_45
sleep 15 # bno085 takes some initialisation time

# baro
dps310 start -I

# adc (power)
ads1115 start -I

# pwm
pca9685_pwm_out start -b 0
control_allocator start # doesnt work automatically for us, thats why I set the parameters (CA_*) above

# flight management
attitude_estimator_q start # works very good
rc_update start
manual_control start
sensors start
commander start
commander mode stabilized # we only use stabilized and manual anyways, stabilized is a good default
navigator start
#ekf2 start
#sleep 2
#ekf2 stop
#ekf2 start
land_detector start multicopter
mc_hover_thrust_estimator start
flight_mode_manager start
mc_pos_control start
mc_att_control start
mc_rate_control start

# communication with QGroundControl via mavlink
mavlink start -u 14556 -r 40000 -p

# logger
logger start -f -t 

mavlink boot_complete # mavlink needs this as last line